* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-image: url(./assets/weather.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container {
  max-width: 600px;
}

.home-container p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.home-link button {
  padding: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.home-link button:hover {
  background-color: rgb(182, 178, 178);
  color: rgb(14, 7, 7);
}

/* search component */
.head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 20px;
}

.head-logo h1 {
  color: blue;
}

.head-search {
  border: 1px solid grey;
}

.head-search input {
  padding: 8px;
  outline: none;
  border: none;
}

.head-search button {
  padding: 8px;
  outline: none;
  border: none;
  border-left: 1px solid grey;
}

ul {
  background-color: rgb(191, 189, 189);
  padding: 20px;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

/* weather display page */
.display {
  max-width: 300px;
  margin: 30px auto;
}

.display h2 {
  margin-bottom: 20px;
}

/* Five days forecast page */
.five-days {
  padding: 20px;
}

.five-days h2 {
  text-align: center;
  margin-bottom: 20px;
}
.fore {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-btn {
  /* width: 100%; */
  padding: 5px;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

/* spinner */
.spinner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 100px;
}

.spin {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, green);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@media all and (max-width: 700px) {
  .head {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .home-container {
    width: 100%;
    padding: 20px;
  }
  /* .display {
    width: 100%;
    border: 2px solid red;
  } */
}
